body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.form-container input,
.form-container select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.form-container input:focus,
.form-container select:focus {
    border-color: black;
    outline: none;
}

.form-container input[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.form-container input[type="submit"]:hover {
    background-color: #e6e6e6;
    color: #000;
    border: solid 1px;
}

.product-actions {
    display: flex;
    padding: 5px;
    justify-content: center;
    gap: 10px;    
}

.button-link,
button {
    background-color: black;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;    
}

.button-link:hover,
button:hover {
    background-color: #e6e6e6;
    color: #000;
    border: solid 1px;
}
